[submodule "backcurl"]
	path = backcurl
	url = https://github.com/Taymindis/backcurl.git
[submodule "lfqueue"]
	path = lfqueue
	url = https://github.com/Taymindis/lfqueue.git
[submodule "lfstack"]
	path = lfstack
	url = https://github.com/Taymindis/lfstack.git
[submodule "fcgi-function"]
	path = fcgi-function
	url = https://github.com/Taymindis/fcgi-function.git
